body {
  font-size: 1.6vw;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.container {
  display: grid;
  grid-template:
                "header header header"
                "main main aside"
                "footer footer footer";
  grid-template: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.header-container {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}

header {
  grid-area: header;
  background-color: #fff;
}

.hamster-logo {
  border-radius: 25%;
  width: 8vw;
  height: 8vw;
  margin: auto;
}

.hamstagram-text {
    font-family: 'Lobster', cursive;
    font-size: 5vw;
    margin: auto;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  margin: auto;
}

.nav-button {
  height: 3vw;
  width: 3vw;
  margin: 0 0.5vw;
}

nav > a {
  margin: 0 0.5vw;
}

main {
  grid-area: main;
  margin: 0 3vw 3vw;
}

h2 {
  text-align: center;
  margin: 2vw 3vw 1.5vw;
}

aside > .aside-extra > p {
  margin: 1vw 2vw;
}

ul {
  margin: 0 3vw;
  padding: 0;
}

li {
  padding-top: 0.5vw;
}

a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

a:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

aside {
  display: float;
  grid-area: aside;
  background-color: #fff;
  margin: 1vw 3vw;
  border: 1px solid #dbdbdb;
  border-width: thin;
  max-height: 100%;
}

.aside-photos {
  display: flex;
  flex-direction: column;
  max-height: auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid #dbdbdb;
}

.aside-photos > img {
  height: 15vw;
  width: 15vw;
  margin: 1.5vw 1.5vw;
  border-radius: 50%;
}

footer {
  display: flex;
  grid-area: footer;
  margin: 3vw 3vw 1.5vw;
  padding: 1.5vw 2vw 0.5vw;
  border-top: 1px solid #dbdbdb;
}

.footer-button {
  margin: 0 2.5vw;
}

@media (min-width: 0px) and (max-width: 700px) {
  
  body {
    font-size: 3vw;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }

  .aside-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #dbdbdb;
  }

  .aside-photos {
    display: flex;
    flex-direction: row;
    border-bottom: 0;
  }

  .aside-extra  {
    margin: 0 0 3vw 1vw;
  }

  .aside-extra > p {
    text-align: center;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  body {
    font-size: 2vw;
  }
}